name: build-and-test

on:
  workflow_call:

jobs:
  build-kernels:
    runs-on: ${{ github.repository_owner == 'likewhatevs' && fromJSON('[ "self-hosted", "Linux", "X64", "large" ]') || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v4

      - uses: likewhatevs/vng-action@main
        with:
          name: sched_ext_for-next
          kernel-url: https://git.kernel.org/pub/scm/linux/kernel/git/tj/sched_ext.git
          kernel-tag: for-next
          kconfig: kernel.config
          run: echo ok

      - uses: likewhatevs/vng-action@main
        with:
          name: bpf_bpf-next
          kernel-url: https://git.kernel.org/pub/scm/linux/kernel/git/bpf/bpf-next.git
          kernel-tag: master
          kconfig: kernel.config
          run: echo ok

      - uses: likewhatevs/vng-action@main
        with:
          name: stable_6_12
          kernel-url: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
          kernel-tag: linux-6.12.y
          kconfig: kernel.config
          run: echo ok

      - uses: likewhatevs/vng-action@main
        with:
          name: stable_linux-rolling-stable
          kernel-url: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
          kernel-tag: linux-rolling-stable
          kconfig: kernel.config
          run: echo ok
